<div class="ui segment h100">

    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="3">APK Configuration</th>
            </tr>
        </thead>
        <tbody>
            <tr class="center aligned">
                <td style="width: 33%">
                    <div class="ui labeled fluid input ">
                        <div class="ui black label">
                            Server Host
                        </div>
                        <input ng-model="srcIP" type="text" placeholder="e.g., ngrok-free.app or 192.168.1.2">
                    </div>
                </td>

                <td style="width: 33%">
                    <div class="ui labeled fluid input ">
                        <div class="ui black label">
                            Server Port
                        </div>
                        <input ng-model="srcPort" type="number" min="1" max="65535" placeholder="443 or 80 for ngrok">
                    </div>
                </td>

                <td style="width: 33%">
                    <div class="ui labeled fluid input ">
                        <div class="ui black label">
                            Use HTTPS
                        </div>
                        <div class="ui checkbox" style="margin-top: 10px">
                            <input ng-model="useHttps" type="checkbox">
                            <label>Enable for ngrok</label>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="ui very compact table">
        <thead>
            <tr class="center aligned">
                <th colspan="2">
                    <div class="ui checkbox ">
                        <input ng-model="bindApk.enable" type="checkbox" name="bind">
                        <label>Bind With Another Apk</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody ng-hide="!bindApk.enable">
            <tr class="center aligned">
                <td colspan="2">
                    <button ng-click="BrowseApk()" ng-disabled="!bindApk.enable" class="ui black labeled icon button "><i class="folder open icon" ></i>Browse Apk</button>

                </td>
            </tr>
            <tr class="center aligned">
                <td>
                    <div class="ui radio checkbox">
                        <input type="radio" name="method" checked="checked" ng-model="bindApk.method" value="BOOT">
                        <label>On boot (recommended)</label>
                        <span style="font-size: 10px ;color: red">Victim needs to restart his phone</span>
                    </div>
                </td>

                <td>
                    <div class="ui radio checkbox">
                        <input type="radio" name="method" ng-model="bindApk.method" value="ACTIVITY">
                        <label>On launcher activity</label>
                        <span style="font-size: 10px ;color: red">Unstable (doesn't work on all apps)</span>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot class="full-width">
            <tr class="center aligned">
                <th colspan="2">
                    <button ng-click="Build(srcIP,srcPort,useHttps)" class="ui labeled icon red button"><i class="lightning icon" ></i>Build</button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>